@mixin button {
  border-radius: 5px;
  outline: none;
  margin: 0.5em 0;
  border: 1px solid black;
  box-shadow: 0 5px #154734;
  cursor: pointer;
  background: rgb(221, 221, 221, 0.7);
  font-weight: 600;
  font-size: 16px;
  color: #154734;

  &:disabled {
    cursor: not-allowed;
  }

  &:enabled:active {
    box-shadow: 0 2px #565656;
    transform: translateY(4px);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  width: 100%;
  padding: 100px 0;
}

.images-container {
  min-width: 350px;
  width: 50%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .primary-image {
    margin: 0;
    width: 100%;
    max-width: 400px;
  }
}

.details-container {
  min-width: 350px;
  width: 50%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button {
    width: 160px;
    padding: 8px 0;

    @include button;
  }

  .price {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
  }
}

.counter-container {
  margin: 20px 0px;

  .output {
    padding: 0px 12px;
    font-weight: 600;
    font-size: 16px;
  }

  .counter-button {
    padding: 0 12px;

    @include button;
  }
}

@media only screen and (max-width: 600px) {
  .details-container {
    padding: 80px 0 0 0;
  }
}

a {
  color: #154734;
}
